.footer {
  background-image: linear-gradient(135deg, #e95095, #7049ba);
  padding: 20px;
  color: #fff;
  text-align: center;
  z-index: 1000;

  a {
    color: #fff;
    text-decoration: underline;

    &:hover {
      color: #ccc;
    }
  }
}
