.footer {
  background-image: linear-gradient(135deg, #e95095, #7049ba);
  padding: 20px;
  color: #fff;
  text-align: center;
/*   z-index: 10 */  
  margin-top: auto;

  a {
    color: #fff;
    text-decoration: underline;

    &:hover {
      color: #ccc;
    }
  }
}
