.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(135deg, #e95095, #7049ba);
  padding: 1rem;
}

.brand {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}
.brand a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.links {
  display: flex;
  gap: 3rem;
}

.links a {
  color: #fff;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
  font-weight: bold;
}
