.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.title {
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 70px;
}

.carousel {
  grid-column: 1 / -1;
}

.logosGrid {
  grid-column: 1 / -1;
}
