@import '~leaflet/dist/leaflet.css';

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  flex: 1 0 auto;
}

.mainContainer {
  display: flex;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contentWrap {
  flex: 1;
}

.chameleonContainer {
  display: grid;
  margin-top: 50px;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.chameleonImage {
  max-width: 100%;
  height: auto;
}

.chameleonText {
  font-size: 40px;
  text-align: left;
  line-height: 1.2;
}

.footer {
  flex-shrink: 0;
  position: sticky;
  bottom: 0;
  justify-content: center;
}

.title {
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 70px;
}

.carousel {
  grid-column: 1 / -1;

  &.my-carousel {
    width: 50%; 
    height: 300px; 
    margin: 0 auto; 
  }

  img {
    max-height: 100%;
  width: auto;
  object-fit: contain;
  }

  .slide {
    display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  }
  
}

.iconTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / -1;
  margin-bottom: 30px;
}

.description {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  grid-column: 1 / -1;
}

.iconText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  font-size: 24px;
  position: relative;

}

.iconText::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  clip-path: inset(0 0% 0 0);
  transition: clip-path 0.3s;
}

.iconText:hover::before {
  clip-path: inset(0 0 0 0);
}

.parentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.iconText p {
  margin-top: 5px;
  font-size: 14px;
}

.logosGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 20px;
}

@media (min-width: 600px) { 
  .logosGrid {
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .iconTextContainer {
    flex-direction: row;
  }
}

.iconText svg {
  font-size: 48px;
}

.carouselImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px; 
}

.carouselImage {
  max-height: 100%;
  max-width: 100%;
}

.carousel .thumb {
  border-color: none !important;
  float: left !important;
}

