.parentContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; 
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 50px - 88px);
  margin-top: 50px;
}

.footer {
  flex-shrink: 0;
  position: sticky;
  bottom: 0;
  justify-content: center;
}